.flex_column.av-5oks1m-70b6aa626b96ce9dbdd144b1ac996289{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-2sws6y-7862562c7ae09f67770f9d82b24b9c5b{
padding-bottom:10px;
font-size:40px;
}

.flex_column.av-3o31fe-eb87d6149790ed67a1011cb034b67c45{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kr0d7dth-902846f1624d9abe3a33924e6a7db162 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3ppjwq-c3bca8a942ef52dfd4708604a42075ab{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-327sdm-5341b27fd3b12f4510e0a25a460d8f9f{
padding-bottom:10px;
font-size:40px;
}

.flex_column.av-8fxlh6-7e3c9fb1d8723fe13f4c8000a2d503f4{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-627tii-735a7a033ce111f5e7a32ebb447e0f1c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-4hc2dm-4a7d4b69efc5dd859b99baa1c900612c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-5pv2pm-9509a41c8042a74a20349930bc11ffd7{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-5pv2pm-9509a41c8042a74a20349930bc11ffd7{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-27tly2-e82b8bdcd9001f477a271c5250e695a7{
padding-bottom:10px;
}

.flex_column.av-vkfd6-b9c2b17405309d2e2b9e17e3364dae1e{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-vkfd6-b9c2b17405309d2e2b9e17e3364dae1e{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-82v4qy-8d883498b8f4014b5ccab1fb79fea568 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-vkfd6-e68baaf8b578f2c14674381d78b23e5c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-5pv2pm-9d2a4b5a271564293ee5da77b7dd4569{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-2yjrai-7feccadf56b2ac1dc986f45007338864{
padding-bottom:10px;
}

