.flex_column.av-5pv2pm-9509a41c8042a74a20349930bc11ffd7{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-2sws6y-760784466fd7e802b956a21aba09fea1{
padding-bottom:10px;
font-size:38px;
}

#top .hr.hr-invisible.av-klkpflty-61f41a27fd299e0fdbc27a0577f7778b{
height:30px;
}

.flex_column.av-vkfd6-b9c2b17405309d2e2b9e17e3364dae1e{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-vkfd6-b9c2b17405309d2e2b9e17e3364dae1e{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-82v4qy-4b3858735794b32727746b8c5b991bab .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-vkfd6-e68baaf8b578f2c14674381d78b23e5c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-82v4qy-7b970d1287bfd7ceba003f37dbaeb6e0 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-5pv2pm-9d2a4b5a271564293ee5da77b7dd4569{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-9icwzt-3cee2368c039ba8cd54fa3d5572c3566{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kosmroju-32d1787bf5118c21c5517bc6266f172a{
padding-bottom:10px;
font-size:38px;
}
.av-special-heading.av-kosmroju-32d1787bf5118c21c5517bc6266f172a .av-subheading{
font-size:20px;
}

#top .hr.hr-invisible.av-6w7fe1-a475d1e0ea9124bcc3c4a67ee5bc4268{
height:30px;
}

.avia-image-container.av-82v4qy-faacc5a17a163f1f758fe382ecebf8eb .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-62xz09-b69a280e9682b3a6aba67bc9583757a5{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kosmus2g-5561e447296da8fe364cd80ae7e40688 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-h4vsp-d0103a1619bd33dd45fe09e90e8bc288{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kosmtt7h-fd45c9424216aca43258995b321fff06{
padding-bottom:10px;
font-size:38px;
}

#top .hr.hr-invisible.av-37meop-bb6b7dee66ca30692cbe900e1a3cacb9{
height:30px;
}

#top .hr.hr-invisible.av-kosoqbio-8312dcb74545c1665c114275fcc41bf9{
height:20px;
}

