.flex_column.av-f45kss-e563f493c98c54d26ab48425ea4c6bd7{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-dtf1t8-c90e0111da75c4f5bc1c6e2082245d12 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-brnnoc-7ccf03af4dc4387874ac75f073e47613{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-a51j64-41637bf9250dd6fad2a5720fd016de15{
padding-bottom:10px;
}
.av-special-heading.av-a51j64-41637bf9250dd6fad2a5720fd016de15 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-8zuc3w-552614315dd01e2f0e59fc73b7fe6f17{
height:30px;
}

.flex_column.av-7b9p0s-0748553e67cde6cecb53bb4260adbf15{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top #wrap_all .avia-button.av-5lwz4s-3c221b8f580ccfc4c577ebe5bd1e977a{
background-color:#3d71a1;
border-color:#3d71a1;
color:#ffffff;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

.flex_column.av-422y0s-5a1ffb47fed9a23a1be6c1c832e0c39f{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-2tsam4-d93d1f1b2c083fe2bcd40844ab2e8a8b .av-image-caption-overlay-center{
color:#ffffff;
}

