.avia-section.av-klky5bgz-870e1840f45c0f118884fc630d05e0f1{
background-color:#f8f8f8;
}

#top .av-special-heading.av-kll6pl08-1ae551cc3a1643c3ccf992199d371038{
padding-bottom:10px;
}

.flex_column.av-5p5s97-aabed8228c6e4f918b68db6c9d12498d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-45aguj-b50920af92a0004d78a257fc9d1e8c72{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-2ui84r-41f7fce1f7525cda8cb72cb0a4fffdeb{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

