#top .av-special-heading.av-2sws6y-a7186eab5dabd51a0b547237fd13be94{
padding-bottom:10px;
font-size:38px;
}

.flex_column.av-vkfd6-e68baaf8b578f2c14674381d78b23e5c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-5pv2pm-9d2a4b5a271564293ee5da77b7dd4569{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kosnm7wy-d99c00d66e5e8751600e79bf8ec860b0{
padding-bottom:10px;
font-size:38px;
}

#top .hr.hr-invisible.av-klkpflty-61f41a27fd299e0fdbc27a0577f7778b{
height:30px;
}

.flex_column.av-ckfr2i-805bf086c4493096da8b3c46482cc2af{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-ajkq22-b584730d30261e8a9d8edd236500e036 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-z4lqi-bb12f3bf5e64ae9ff44e6fa7714e4fd9{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-82q7ga-1e26dd3b6e6701a51280b8dc133df2a9{
padding-bottom:10px;
font-size:38px;
}
.av-special-heading.av-82q7ga-1e26dd3b6e6701a51280b8dc133df2a9 .av-subheading{
font-size:20px;
}

#top .hr.hr-invisible.av-69h3ju-cf0c43c5b3da48370904d494857fdbb2{
height:30px;
}

.flex_column.av-3j0fiy-53d6082daf740c5345cd0195cab7d7ec{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kosnrj7h-cd48ad83bf8271480f77d1195da90d5b{
padding-bottom:10px;
font-size:38px;
}
.av-special-heading.av-kosnrj7h-cd48ad83bf8271480f77d1195da90d5b .av-subheading{
font-size:20px;
}

#top .hr.hr-invisible.av-1wtqkq-77f0db39bc199091ceba05a8ff5b443e{
height:30px;
}

.flex_column.av-5z3q6y-e91d0e3d19b580743587f35043fe0ad6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kosnttl6-b2eea8dcb0479e92201744bea4b73f48 .av-image-caption-overlay-center{
color:#ffffff;
}

