.flex_column.av-iv7z35-f6e9b5963ec5c8f3f03d29277b7ba57f{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-hgb75d-5647fcb2f69babe1ec9597aee355c7bd{
padding-bottom:10px;
}

#top .avia-icon-list-container.av-kosn561n-a0df4a1ae2f1323471ffc54c83623f8b .iconlist_icon{
background-color:#3d71a1;
}

.flex_column.av-c93fz5-2f8c6bc32f64be8d7cfad023618d77f8{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

