.avia-section.av-klky5bgz-74b8ea5c0273e53bb2aeb80399825ca7{
background-color:#f8f8f8;
}

#top .av-special-heading.av-kll6v1rw-9e0a94a91407228242cb85a5efc43d71{
padding-bottom:10px;
}

.flex_column.av-5p5s97-aabed8228c6e4f918b68db6c9d12498d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-45aguj-b50920af92a0004d78a257fc9d1e8c72{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-2ui84r-41f7fce1f7525cda8cb72cb0a4fffdeb{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

